<mat-card>
   <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
  <mat-form-field>
       <label for="email">Email</label>
       <input
         matInput
         type="email"
         name="email"
         ngModel
         #emailInput="ngModel"    
         required
         email>           
       <mat-error *ngIf="emailInput?.invalid">Please enter valid email</mat-error>
     </mat-form-field>
      <mat-form-field>
         <label for="password">Password</label>
         <input
            matInput 
            type="password" 
            name="password" 
            ngModel 
            #passwordInput="ngModel" 
            required>
         <mat-error *ngIf="passwordInput?.invalid">Please enter valid password</mat-error>
      </mat-form-field>
      <button
         type="submit"
         mat-raised-button
         color="accent">Signup</button>
   </form>
</mat-card>

