 <mat-card>
   <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">
     <mat-form-field>
       <input
         matInput
         type="text"
         name="title"
         ngModel
         #postTitle="ngModel"
         placeholder="post title"
         required>
       <mat-error *ngIf="postTitle.invalid">Please enter title</mat-error>
     </mat-form-field>
     <mat-form-field>
       <textarea
         matInput
         rows="6"
         name="content"
         ngModel
         #postContent="ngModel"
         placeholder="post content"
         required></textarea>
       <mat-error *ngIf="postContent.invalid">Please enter content</mat-error>
     </mat-form-field>
     <button
       type="submit"
       mat-raised-button
       color="accent">Save Post</button>
   </form>
 </mat-card>






