 <mat-card>
   <mat-spinner *ngIf="isLoading"></mat-spinner>
   <form [formGroup]="postForm" (ngSubmit)="onSavePost()" *ngIf="!isLoading">
     <mat-form-field>
       <input
         matInput
         type="text"
         formControlName="title"
         placeholder="post title">
       <mat-error *ngIf="postForm.get('title').invalid">Please enter title</mat-error>
     </mat-form-field>

     <div>
       <button mat-stroked-button type="button" (click)="fileInput.click()">Pick Image</button>
       <input type="file" #fileInput (change)="onImagePicked($event)">
     </div>

     <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postForm.get('image').valid">
       <img [src]="imagePreview" alt="postForm.value.title">
     </div>

     <mat-form-field>
       <textarea
         matInput
         rows="6"
         formControlName="content"
         placeholder="post content"></textarea>
       <mat-error>Please enter content</mat-error>
     </mat-form-field>
     <button
       type="submit"
       mat-raised-button
       color="accent">Save Post</button>
   </form>
 </mat-card>






