 <mat-card>
   <mat-spinner *ngIf="isLoading"></mat-spinner>
   <form (ngSubmit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
     <mat-form-field>
       <input
         matInput
         type="text"
         name="title"
         [ngModel]="post?.title"
         #postTitle="ngModel"
         placeholder="post title"
         required>
       <mat-error *ngIf="postTitle.invalid">Please enter title</mat-error>
     </mat-form-field>
     <mat-form-field>
       <textarea
         matInput
         rows="6"
         name="content"
         [ngModel]="post?.content"
         #postContent="ngModel"
         placeholder="post content"
         required></textarea>
       <mat-error *ngIf="postContent.invalid">Please enter content</mat-error>
     </mat-form-field>
     <button
       type="submit"
       mat-raised-button
       color="accent">Save Post</button>
   </form>
 </mat-card>






